@model NoQuarterTBC.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.players.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.players.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateNote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
