@model NoQuarterTBC.Models.Profession

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfessionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
