@model NoQuarterTBC.Models.Loot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bosses.BossName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bosses.BossName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LootName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LootName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LootID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
