@model IEnumerable<NoQuarterTBC.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.players.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivateNote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.players.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateNote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NotesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NotesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NotesID })
        </td>
    </tr>
}

</table>
