@model IEnumerable<NoQuarterTBC.Models.EncounterLoot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.encounters.EncounterFight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loots.LootName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.players.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disenchanted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.encounters.EncounterFight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loots.LootName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.players.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disenchanted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
